

div.block{ display:block; }
div.flex { display:flex; }
div.flex-block { display:flex; }
div.block-flex { display:block; }
div.inline-flex { display:inline-flex; vertical-align: middle; padding: 10px; }
span.inline-flex { display:inline-flex; }
div.inline { display:inline; padding: 5px; }
div.inline-block { display:inline-block; padding: 5px; }
div.inline-flex.no-padding{ padding:0; }




.centered{ text-align:center; }
.right{ text-align:right; }
.dtop-right{ text-align:right; }
.dtop-left{ text-align:left; }
.left{ text-align:left; }


.hidden { display:none!important; }
.visible { display:block!important; }
.icon-visible{ display:none; }
.icon-visible{ display:block; }


.mob{ display:none; }


/* My special widths that are different on mobile vs desktop */

.col-1 { width: 8.333%; }
.col-2 { width: 16.667%; }
.col-3 { width: 25.00%; }
.col-4 { width: 33.333%; }
.col-5 { width: 41.667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333%; }
.col-8 { width: 66.667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.667%; }
.col-12 { width: 100%; }

.col-1-2 { width:8.333%; }
.col-1-3 { width:8.333%; }
.col-1-4 { width:8.333%; }
.col-1-5 { width:8.333%; }
.col-1-6 { width:8.333%; }
.col-1-7 { width:8.333%; }
.col-1-8 { width:8.333%; }
.col-1-9 { width:8.333%; }
.col-1-10 { width:8.333%; }
.col-1-11 { width:8.333%; }
.col-1-12 { width:8.333%; }
.col-2-1 { width:16.667%; }
.col-2-3 { width:16.667%; }
.col-2-4 { width:16.667%; }
.col-2-5 { width:16.667%; }
.col-2-6 { width:16.667%; }
.col-2-7 { width:16.667%; }
.col-2-8 { width:16.667%; }
.col-2-9 { width:16.667%; }
.col-2-10 { width:16.667%; }
.col-2-11 { width:16.667%; }
.col-2-12 { width:16.667%; }
.col-3-1 { width:25.000%; }
.col-3-2 { width:25.000%; }
.col-3-4 { width:25.000%; }
.col-3-5 { width:25.000%; }
.col-3-6 { width:25.000%; }
.col-3-7 { width:25.000%; }
.col-3-8 { width:25.000%; }
.col-3-9 { width:25.000%; }
.col-3-10 { width:25.000%; }
.col-3-11 { width:25.000%; }
.col-3-12 { width:25.000%; }
.col-4-1 { width:33.333%; }
.col-4-2 { width:33.333%; }
.col-4-3 { width:33.333%; }
.col-4-5 { width:33.333%; }
.col-4-6 { width:33.333%; }
.col-4-7 { width:33.333%; }
.col-4-8 { width:33.333%; }
.col-4-9 { width:33.333%; }
.col-4-10 { width:33.333%; }
.col-4-11 { width:33.333%; }
.col-4-12 { width:33.333%; }
.col-5-1 { width:41.667%; }
.col-5-2 { width:41.667%; }
.col-5-3 { width:41.667%; }
.col-5-4 { width:41.667%; }
.col-5-6 { width:41.667%; }
.col-5-7 { width:41.667%; }
.col-5-8 { width:41.667%; }
.col-5-9 { width:41.667%; }
.col-5-10 { width:41.667%; }
.col-5-11 { width:41.667%; }
.col-5-12 { width:41.667%; }
.col-6-1 { width:50.000%; }
.col-6-2 { width:50.000%; }
.col-6-3 { width:50.000%; }
.col-6-4 { width:50.000%; }
.col-6-5 { width:50.000%; }
.col-6-7 { width:50.000%; }
.col-6-8 { width:50.000%; }
.col-6-9 { width:50.000%; }
.col-6-10 { width:50.000%; }
.col-6-11 { width:50.000%; }
.col-6-12 { width:50.000%; }
.col-7-1 { width:58.333%; }
.col-7-2 { width:58.333%; }
.col-7-3 { width:58.333%; }
.col-7-4 { width:58.333%; }
.col-7-5 { width:58.333%; }
.col-7-6 { width:58.333%; }
.col-7-8 { width:58.333%; }
.col-7-9 { width:58.333%; }
.col-7-10 { width:58.333%; }
.col-7-11 { width:58.333%; }
.col-7-12 { width:58.333%; }
.col-8-1 { width:66.667%; }
.col-8-2 { width:66.667%; }
.col-8-3 { width:66.667%; }
.col-8-4 { width:66.667%; }
.col-8-5 { width:66.667%; }
.col-8-6 { width:66.667%; }
.col-8-7 { width:66.667%; }
.col-8-9 { width:66.667%; }
.col-8-10 { width:66.667%; }
.col-8-11 { width:66.667%; }
.col-8-12 { width:66.667%; }
.col-9-1 { width:75.000%; }
.col-9-2 { width:75.000%; }
.col-9-3 { width:75.000%; }
.col-9-4 { width:75.000%; }
.col-9-5 { width:75.000%; }
.col-9-6 { width:75.000%; }
.col-9-7 { width:75.000%; }
.col-9-8 { width:75.000%; }
.col-9-10 { width:75.000%; }
.col-9-11 { width:75.000%; }
.col-9-12 { width:75.000%; }
.col-10-1 { width:83.333%; }
.col-10-2 { width:83.333%; }
.col-10-3 { width:83.333%; }
.col-10-4 { width:83.333%; }
.col-10-5 { width:83.333%; }
.col-10-6 { width:83.333%; }
.col-10-7 { width:83.333%; }
.col-10-8 { width:83.333%; }
.col-10-9 { width:83.333%; }
.col-10-11 { width:83.333%; }
.col-10-12 { width:83.333%; }
.col-11-1 { width:91.667%; }
.col-11-2 { width:91.667%; }
.col-11-3 { width:91.667%; }
.col-11-4 { width:91.667%; }
.col-11-5 { width:91.667%; }
.col-11-6 { width:91.667%; }
.col-11-7 { width:91.667%; }
.col-11-8 { width:91.667%; }
.col-11-9 { width:91.667%; }
.col-11-10 { width:91.667%; }
.col-11-12 { width:91.667%; }
.col-12-1 { width:100.000%; }
.col-12-2 { width:100.000%; }
.col-12-3 { width:100.000%; }
.col-12-4 { width:100.000%; }
.col-12-5 { width:100.000%; }
.col-12-6 { width:100.000%; }
.col-12-7 { width:100.000%; }
.col-12-8 { width:100.000%; }
.col-12-9 { width:100.000%; }
.col-12-10 { width:100.000%; }
.col-12-11 { width:100.000%; }

@media only screen and (max-width: 800px) {
    
    .dtop{ display: none; }
    
    
    div.flex-block { display:block; }
    div.block-flex { display:flex; }
    
    
    img.mob{ display: block; }
    li.mob{ display: block; }
    span.mob{ display: inline; }
    div.mob{ display: block; }
    
    .col-1-2 { width:16.667%; }
    .col-1-3 { width:25.000%; }
    .col-1-4 { width:33.333%; }
    .col-1-5 { width:41.667%; }
    .col-1-6 { width:50.000%; }
    .col-1-7 { width:58.333%; }
    .col-1-8 { width:66.667%; }
    .col-1-9 { width:75.000%; }
    .col-1-10 { width:83.333%; }
    .col-1-11 { width:91.667%; }
    .col-1-12 { width:100.000%; }
    .col-2-1 { width:8.333%; }
    .col-2-3 { width:25.000%; }
    .col-2-4 { width:33.333%; }
    .col-2-5 { width:41.667%; }
    .col-2-6 { width:50.000%; }
    .col-2-7 { width:58.333%; }
    .col-2-8 { width:66.667%; }
    .col-2-9 { width:75.000%; }
    .col-2-10 { width:83.333%; }
    .col-2-11 { width:91.667%; }
    .col-2-12 { width:100.000%; }
    .col-3-1 { width:8.333%; }
    .col-3-2 { width:16.667%; }
    .col-3-4 { width:33.333%; }
    .col-3-5 { width:41.667%; }
    .col-3-6 { width:50.000%; }
    .col-3-7 { width:58.333%; }
    .col-3-8 { width:66.667%; }
    .col-3-9 { width:75.000%; }
    .col-3-10 { width:83.333%; }
    .col-3-11 { width:91.667%; }
    .col-3-12 { width:100.000%; }
    .col-4-1 { width:8.333%; }
    .col-4-2 { width:16.667%; }
    .col-4-3 { width:25.000%; }
    .col-4-5 { width:41.667%; }
    .col-4-6 { width:50.000%; }
    .col-4-7 { width:58.333%; }
    .col-4-8 { width:66.667%; }
    .col-4-9 { width:75.000%; }
    .col-4-10 { width:83.333%; }
    .col-4-11 { width:91.667%; }
    .col-4-12 { width:100.000%; }
    .col-5-1 { width:8.333%; }
    .col-5-2 { width:16.667%; }
    .col-5-3 { width:25.000%; }
    .col-5-4 { width:33.333%; }
    .col-5-6 { width:50.000%; }
    .col-5-7 { width:58.333%; }
    .col-5-8 { width:66.667%; }
    .col-5-9 { width:75.000%; }
    .col-5-10 { width:83.333%; }
    .col-5-11 { width:91.667%; }
    .col-5-12 { width:100.000%; }
    .col-6-1 { width:8.333%; }
    .col-6-2 { width:16.667%; }
    .col-6-3 { width:25.000%; }
    .col-6-4 { width:33.333%; }
    .col-6-5 { width:41.667%; }
    .col-6-7 { width:58.333%; }
    .col-6-8 { width:66.667%; }
    .col-6-9 { width:75.000%; }
    .col-6-10 { width:83.333%; }
    .col-6-11 { width:91.667%; }
    .col-6-12 { width:100.000%; }
    .col-7-1 { width:8.333%; }
    .col-7-2 { width:16.667%; }
    .col-7-3 { width:25.000%; }
    .col-7-4 { width:33.333%; }
    .col-7-5 { width:41.667%; }
    .col-7-6 { width:50.000%; }
    .col-7-8 { width:66.667%; }
    .col-7-9 { width:75.000%; }
    .col-7-10 { width:83.333%; }
    .col-7-11 { width:91.667%; }
    .col-7-12 { width:100.000%; }
    .col-8-1 { width:8.333%; }
    .col-8-2 { width:16.667%; }
    .col-8-3 { width:25.000%; }
    .col-8-4 { width:33.333%; }
    .col-8-5 { width:41.667%; }
    .col-8-6 { width:50.000%; }
    .col-8-7 { width:58.333%; }
    .col-8-9 { width:75.000%; }
    .col-8-10 { width:83.333%; }
    .col-8-11 { width:91.667%; }
    .col-8-12 { width:100.000%; }
    .col-9-1 { width:8.333%; }
    .col-9-2 { width:16.667%; }
    .col-9-3 { width:25.000%; }
    .col-9-4 { width:33.333%; }
    .col-9-5 { width:41.667%; }
    .col-9-6 { width:50.000%; }
    .col-9-7 { width:58.333%; }
    .col-9-8 { width:66.667%; }
    .col-9-10 { width:83.333%; }
    .col-9-11 { width:91.667%; }
    .col-9-12 { width:100.000%; }
    .col-10-1 { width:8.333%; }
    .col-10-2 { width:16.667%; }
    .col-10-3 { width:25.000%; }
    .col-10-4 { width:33.333%; }
    .col-10-5 { width:41.667%; }
    .col-10-6 { width:50.000%; }
    .col-10-7 { width:58.333%; }
    .col-10-8 { width:66.667%; }
    .col-10-9 { width:75.000%; }
    .col-10-11 { width:91.667%; }
    .col-10-12 { width:100.000%; }
    .col-11-1 { width:8.333%; }
    .col-11-2 { width:16.667%; }
    .col-11-3 { width:25.000%; }
    .col-11-4 { width:33.333%; }
    .col-11-5 { width:41.667%; }
    .col-11-6 { width:50.000%; }
    .col-11-7 { width:58.333%; }
    .col-11-8 { width:66.667%; }
    .col-11-9 { width:75.000%; }
    .col-11-10 { width:83.333%; }
    .col-11-12 { width:100.000%; }
    .col-12-1 { width:8.333%; }
    .col-12-2 { width:16.667%; }
    .col-12-3 { width:25.000%; }
    .col-12-4 { width:33.333%; }
    .col-12-5 { width:41.667%; }
    .col-12-6 { width:50.000%; }
    .col-12-7 { width:58.333%; }
    .col-12-8 { width:66.667%; }
    .col-12-9 { width:75.000%; }
    .col-12-10 { width:83.333%; }
    .col-12-11 { width:91.667%; }
    
    .flex-block .margin{ margin: 0; }
    
    .dtop-right{ text-align:center; }
    .dtop-left{ text-align:center; }
}
