
{% extends layout %}


{% block body %}

	<STYLE>
		.progress-box {
			height:3px;
			margin:2px;
			width:50px;
			padding:0;
			background-color: #CCC;
		}
		.progress-box.complete {
			background-color: #189ad3;
		}
	</STYLE>
	
	
	<div class='col-12 centered on-reset  '  style='padding-top: 120px;'><span id='intro_question' class=''>Who are you?</span></div>
	
	<div class='col-12 centered flex-wrap on-reset'>
		<button onclick='start_choose_person("Jack");' style='margin-left:30px;' class='font-24 action-button medium'>Wacky-Jacky</button>
		<button onclick='start_choose_person("Will");' style='margin-left:30px;' class='font-24 action-button medium'>Donkey</button>
		<button onclick='start_choose_person("Lily");' style='margin-left:30px;' class='font-24 action-button medium'>Muffin-Butt</button>
	
	</div>
	<div class='centered'>	<div class='inline-flex' id='progress_div'></div></div>
	<div class='col-12 centered hidden after-reset' id='instructions_div' style='padding-top: 120px;'><span class=''>Click Next, then type in the word that the computer says.</span></div>
	<div class='col-12 centered hidden after-reset' style='padding-top: 120px;'><input id='entry_input' spellcheck="false" class='hidden font-48' type=text style='width:600px;' placeholder='Type the word'></div>
	
	<div class='col-12 centered hidden after-reset' id='listen_div'><button onclick='getNext();' class='font-24 action-button medium blue'>NEXT</button></div>
	<div class='col-12 centered hidden after-reset' id='done_button'><div class=' inline-flex'><button class='font-24 action-button medium blue' onclick='compare();'>DONE</button><button onclick='repeatPhrase();' style='margin-left:30px;' class='font-24 action-button medium'>REPEAT</button></div></div>
	<div class='col-12 centered font-48 bold site-blue' id='results_div_str'></div>
	<div class='col-12 centered flex-wrap' id='results_div_img'></div>
	<div class='col-12 centered hidden after-reset flex' id='results_list_div'></div>
	
	<div class='col-12 centered on-reset  ' id='counts_leaderboard_large' style='padding-top: 20px;'></div>
<script>
  

</script>

<script src="static/js/laxrefpro_async.js"></script>
<script>
	function parse_misc(output){
		/***
		In case we eventually need to do something to the misc object that is sent from the server, we'll do it here. But for now, this is just a pass-through
		***/
		return output;
	}

    var on_mobile = null;
    var console_log = []; var success = null;
    
    var misc = JSON.parse({{misc|to_json2}});
	var words_used = {}
    let startSpeaking = false;
	var kid = null;
	misc.inferred_grade = null;

    console.log(misc);
	misc.correct_words = []
	misc.incorrect_words = []
    misc.incorrect_words_w_detail = []
	
	var wrongDukeUrl = "{{ url_for('static', filename='img/wrongDuke.png') }}";
	var blueStarUrl = "{{ url_for('static', filename='img/blueStar.png') }}";
    if(!('Will' in misc.today_words_used_by_speller)){ misc.today_words_used_by_speller.Will = []; }
    if(!('Jack' in misc.today_words_used_by_speller)){ misc.today_words_used_by_speller.Jack = []; }
    if(!('Lily' in misc.today_words_used_by_speller)){ misc.today_words_used_by_speller.Lily = []; }
</script>
</script><script src="static/js/spelling.js"></script>

<SCRIPT>

    
	display_today_attempts_count('counts_leaderboard_large')
</SCRIPT>
{% endblock %}